@import "../../../styles/variables";

.titled-block {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    color: $brand_color_black;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Roboto-Medium';
    font-weight: 500;
    letter-spacing: 0.15px;
  }
}