@import "src/styles/variables";

.photo-uploader {
  display: flex;
  align-items: center;
  &__preview {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__actions {
    display: flex;
    align-items: center;
    & > * {
      margin-right: 3px;
      padding: 9.5px 15px;
    }
  }
  &__caption {
    margin-top: 6px;
    font-size: 12px;
    color: $brand-color_grey;
  }
  &__input {
    display: none;
  }
  .uploadFile{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
    object-fit: contain;
  }
}