
.orders {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    &__filters-block {
      display: flex;
      flex-direction: row;
      .select-input {
        margin-right: 24px;
      }
    }
  }
  .table {
    .MuiDataGrid-root {
      background-color: #fff;
    }
    .MuiDataGrid-columnsContainer {
      background-color: rgb(252, 253, 254);
    }
  }
}

