@import "src/styles/variables";
@import "src/styles/variables";

.support-page {
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: transparent;
    justify-content: center;
    flex-direction: row;
    .paper {
        width: 50%;
        background-color: #fff;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
        color: #34404d;
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 20px 0;
        font-family: 'Roboto-Bold';
    }
    p {
        margin: 15px 0 !important;
        text-align: justify;
    }
    li {
        margin-bottom: 10px;
    }
    td {
        margin-bottom: 5px;
    }
    a {
        color: #3c5896;
        text-decoration: underline;
    }
    .phone {
        color: #3c5896;
    }

}