@import 'src/styles/variables';


.appointments-page {
  .MuiFormControlLabel-root {
    .MuiFormControlLabel-label {
      color: $brand_color_grey;
    }

    //border: 1px solid #D3D8DD;
    //border-radius: 4px;
    //padding: 0px 11px;
    //padding-left: 11px;
    //padding-right: 11px;
    .MuiCheckbox-root {
      padding: 7px;
    }
  }
  .search-input {
    width: 330px;
    &__input {
      flex-basis: 90%;
    }
  }
}
