@import "src/styles/variables";

.checkbox-field {
  .MuiFormControlLabel-label {
    color: $brand_color_black;
    font-size: 16px;
    line-height: 24px;
  }
  .MuiSvgIcon-root {
    width: 24px;
    height: 24px;
  }
  .PrivateSwitchBase-root-5 {
    padding-right: 8px;
    .MuiIconButton-label {
      position: relative;
    }
    &.Mui-checked {
      .MuiSvgIcon-root {
        fill: $brand_color;
      }
    }
  }
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: $brand_color !important;
}