@import 'reset';
@import 'variables';
@import 'fonts';

body {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  background-color: $brand_color_grey_light;
  font-family: 'Roboto-Regular', Arial;
}

.app {
  height: 100vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  position: relative;
  &__content {
    width: 100%;
    display: flex;
    flex-grow: 1;
    &.has-footer {
      padding-bottom: 45px;
    }
  }
}

.page {
  background-color: #fff;
  padding: 0 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  &__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  }
  &--thin {
    max-width: 730px;
    margin: 0 auto;
    padding: 0;
    .page-title {
      font-weight: 700;
      letter-spacing: 0.41px;
    }
    .page-header {
      padding: 32px 0 0;
    }
  }

  &--with-table {
    .page-header {
      padding: 32px 24px 0;
    }
  }
  &--blue {
    background-color: $brand_color_grey_light;
  }
  &--scroll {
    height: auto;
  }

  .global-message {
    margin-top: 300px;
    &__text {
      color: $brand_color_grey;
    }
  }
  .breadcrumbs {
    margin-bottom: 8px;
  }
}

.auth-page {
  height: 100vh;
  background-color: $brand_color_grey_light;
  .auth-form {
    width: 446px;
  }
}
a {
  cursor: pointer;
}

.MuiFormLabel-root.Mui-focused {
  color: $brand_color;
}

.MuiTypography-colorPrimary.MuiLink-root  {
  color: $brand_color;
}