$brand_color: #531D8B;
$brand_color_dark: #431770;
$brand_color_black: #34404d;
$brand_color_black_lighter: #5A636C;
$brand_color_grey_dark: #989EA4;
$brand_color_grey: #b2b9c4;
$brand_color_grey_lighter: rgba(38, 50, 56, .16);
$brand_color_grey_light: #f4f8fd;
$brand_color_grey_white: #fbfdfe;
$brand_color_white: #fff;
$brand_color_green: #2DAD70;
$brand_color_green_dark: #1D7048;

$brand_color_error: #f44336;


// Statuses

$status_success: #34C38F;
$status_normal: #386CE4;
$status_warn: #ff9f2e;
$status_fail: #ed3939;
