@import "src/styles/variables";

.week-schedule-field {
  .day {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      color: $brand_color_grey;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      width: 36px;
      margin-right: 8px;
    }
    &__dates {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      .secondary-button {
        padding: 9.5px 57px;
      }
    }
    .schedules {
      display: flex;
      align-items: center;
      width: 310px;
      &__items {
        display: flex;
        align-items: center;
      }
      .secondary-button {
        padding: 6px;
      }
      .select-input {
        margin: 0 4px;
        width: 120px;
        height: 40px;
        &:last-child {
          margin-right: 0;
        }
        .MuiFormHelperText-root.Mui-error {
          white-space: nowrap;
        }
      }
      .secondary-button {
        .MuiSvgIcon-root {
          margin-right: 0;
          color: $brand-color;
        }
      }
      .MuiSvgIcon-root {
        color: $brand_color_grey;
        cursor: pointer;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}