@import 'src/styles/variables';

.text-button {
  background-color: transparent;
  border: none;
  appearance: none;
  color: $brand_color_grey_dark;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px 0;
  transition: .2s ease;
  &:hover, &:active {
    background-color: #F4F8FD;
  }

  &:disabled {
    color: #B9C2CC;
  }

}