@import "src/styles/variables";

.search-input {
  border: 1px solid #D3D8DD;
  border-radius: 4px;
  padding: 7px 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:focus-within {
    border: 1px solid #531D8B;
  }
  &__input {
    border: none;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    &:focus {
      outline: none;
    }
    &::placeholder {
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.00938em;
      color: $brand_color_grey
    }
  }
  &__icon {
    font-size: 26px;
    opacity: .3;
    &--search {
      margin-right: 5px;
    }
    &--clear {
      margin-left: 3px;
      cursor: pointer;
    }
  }
}